<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/pure-min.css"
      integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h2>Acme E-Commerce</h2>

    <div>
      <a routerLink="/view1">About</a> | <a routerLink="/view2">FAQ</a> |
      <a routerLink="/view3/1">Product 1</a> |
      <a routerLink="/view3/2">Product 2</a>
    </div>
    <router-outlet></router-outlet>
  </body>
</html>
